@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root {
  @media(prefers-color-scheme:dark) {
    --BG: #101010;
    --Main: #ffffff;
    --Sub: #A9A9B0;
    --LM: #70D7FF;
    --LR: #FF6482;
    --MHeader: #ffffff;
    --Border: #222223;
    --Hover: #1a1919;
    // --CardBG: #161515;
    --CardBG: #201f1f;
    --Navhover: #68a7eb;
    --TranslateHover: #161515;
    --ScrollHover: #43b7e6;
    --ScrollDefault: #504e4e;
  }

  @media(prefers-color-scheme:light) {
    --BG: #eff3f7;
    --Main: #363636;
    --Sub: #828283;
    --LM: #33a9e0;
    --LR: #FF2D55;
    --MHeader: #ffffff;
    --Border: #CECED0;
    --Hover: #f5f5f5;
    --CardBG: #ffffff;
    --Navhover: #2a76c7;
    --TranslateHover: #E6E9ED;
    --ScrollHover: #52c3f0;
    --ScrollDefault: #9B9B9D;
  }
}

html {
  max-width: 600px;
  margin: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--BG);
  font-family: -apple-system, BlinkMacSystemFont,
  'Segoe UI', Montserrat, Oxygen, Ubuntu, Cantarell,
  'Open Sans', 'Helvetica Neue', sans-serif;
}

// Header
header {
  z-index: 5;
  color: var(--Main);
  padding: 30px 30px 34px;
}

.header2 {
  -webkit-mask-image: linear-gradient(to bottom, black 91%, transparent 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 200px;
  opacity: 0.9;

  .mainHeader {
    background-color: transparent;
    color: var(--MHeader);
    font-size: 34px;
    font-weight: 700;
  }
}

.subHeader {
  z-index: 4;
  // color: var(--Sub);
  color: var(--MHeader);
  text-transform: uppercase;

  .update {
    padding: 0px 30px;
    font-size: 12px;
    line-height: 3px;
  }

  .legend {
    font-size: 10px;

    li {
      line-height: 1.4;
      margin: 0 0 0 7px;

      &::marker {
        font-size: 14px;
      }
    }

    .legendM::marker {
      color: var(--LM)
    }

    .legendR::marker {
      color: var(--LR)
    }

    .legendF::marker {
      color: var(--Main);
    }
  }
}

.display {
  margin: 0;
  position: relative;
  
  .displayList {
    position: absolute;
    top: -40px;
    right: 10px;
    z-index: 2;
    padding: 0;
    margin: 0;
    
    .translateLogo {
      padding: 15px;
      color: var(--Main);
      border: none;
      background-color: var(--CardBG);
      border-radius: 30px;
      outline: none;

      &:hover {
        cursor: pointer;
        background-color: var(--TranslateHover);
      }
    }

  }
}

// .display {
//   // margin: 8px 10px;
//   margin: 20px 10px 10px;
//   display: flex;
//   justify-content: flex-end;

//   .displayList {
//     height: fit-content;
//     border: none;
//     background-color: transparent;
//     border-radius: 7px;
//     color: var(--Sub);
//     outline: none;

//     &:hover {
//       cursor: pointer;
//       color: var(--LM);
//     }
//   }
// }

// Navbar
.navbar {
  left: 0;
  top: 0;
  width: 5rem;
  position: fixed;
  background-color: var(--CardBG);
  z-index: 5;
  
  .navbar-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    height: 100vh;

    .item {
      height: 5rem;
      width: auto;

      .logo {
        font-size: 2.4rem;
        color: var(--Main);

        &:hover {
          color: var(--Navhover);
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    top: auto;
    bottom: 0;
    width: 100vw;
    height: 5.2rem;

    .navbar-items {
      flex-direction: row;
      height: auto;
      justify-content: space-around;

      .item .logo {
        font-size: 1.9rem;
      }
    }
  }
}


// List Mode
.animeList, .mangaList {
  color: var(--Main);
  font-size: 15px;
  text-align-last: start;
  margin: 20px 0;
  padding-inline-start: 26px;
  padding-inline-end: 10px;

  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans JP', sans-serif;

  .M, .A, .CR{
    color: var(--Main);
    flex-grow: 1;
    display: flex;
    justify-content: space-between;

    align-items: center;
    padding: 13px 0 13px 2px;

    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: var(--Border);
    background-color: transparent;

    &:first-child {
      // border-width: 1px 0;
      border-width: 0 0 1px;
    }

    &:last-child {
      border: none;
    }
  }

  .M {
    color: var(--LM);
  }

  .R {
    color: var(--LR);
    font-weight: 600;
    padding: 0 7px;
  }

  .CR {
    color: var(--LM);
  }
}


// Image mode
.aniIMG {
  display: flex;
  flex-direction: column;
  margin: 20px;

  .aniImgBanner {
    background-color: var(--CardBG);
    display: flex;
    border-radius: 4px;
    max-height: fit-content;
    margin-bottom: 20px;
    color: var(--Main);

    .cardImgCon {
      .cardImg {
        width: 100%;
        height: 100%;
        border-radius: 4px;
      }
    }

    .cardTitleCon {
      width: 100%;
      padding-left: 18px;

      .cardTitle {
        margin: 10px 0px;
        padding-right: 17px;
        font-size: 15px;
      }

      .cardType {
        display: flex;
        font-weight: 700;
        margin: 12px auto;
        text-transform: uppercase;
      }

      .cardSynopsis {
        margin: 9px 0px 5px;
        text-align: justify;
      }

      .cardType, .cardSynopsis {
        padding-right: 17px;
        font-size: 11px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;

        .R {
          color: var(--LR);
          float: right;
        }

        .M {
          color: var(--LM);
        }
      }
    }
  }
}


// Footer
.footer {
  display: grid;
  place-items: center;
  color: var(--Sub);
  padding-bottom: 90px;

  .total {
    font-size: 22px;
  }
}


// Scroll to Top Btn
.scrollToTop {
  position: fixed;
  right: 0;
  bottom: 0;
  padding-right: 20px;
  padding-bottom: 20px;
  z-index: 3;
  
  .scrollButton {
    color: var(--Main);
    border-radius: 30px;
    background-color: var(--CardBG);
  }
}

@media only screen and (max-width: 768px) {
  .scrollToTop {
    padding-right: 15px;
    padding-bottom: 100px;
  }
}


// Scroll Bar
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--Border)
}

::-webkit-scrollbar-thumb {
  background: var(--ScrollDefault);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--ScrollHover)
}
