:root {
  @media(prefers-color-scheme:dark) {
    --BG: #101010;
    --Main: #ffffff;
    --Sub: #A9A9B0;
    --LM: #70D7FF;
    --LR: #FF6482;
    --Border: #222223;
    --Hover: #1a1919;
    --CardBG: #131313;
    --ScrollHover: #9fe4ff;
    --NA: #FF453A;
  }

  @media(prefers-color-scheme:light) {
    --BG: #FFFFFF;
    --Main: #363636;
    --Sub: #828283;
    --LM: #198dfa;
    --LR: #FF2D55;
    --Border: #CECED0;
    --Hover: #f5f5f5;
    --CardBG: #FBFBFD;
    --ScrollHover: #48bdeb;
    --NA: #FF3B30;
  }
}

html {
  max-width: 600px;
  margin: auto;
  scroll-behavior: smooth;
}

body {
  background-color: var(--BG);
  font-family: -apple-system, BlinkMacSystemFont,
  'Segoe UI', Montserrat, Oxygen, Ubuntu, Cantarell,
  'Open Sans', 'Helvetica Neue', sans-serif;
}

// Loading Screen
.load {
  display: grid;
  place-items: center;
  margin: 100px auto;

  p {
    color: var(--Main);
    font-size: 12px;
  }
}

// Header
header {
  z-index: 5;
  color: var(--Main);
  padding: 30px 32px 34px;

  .mainHeader {
    font-size: 34px;
    font-weight: 700;
  }
}

.subHeader {
  z-index: 4;
  color: var(--Sub);
  text-transform: uppercase;

  .update {
    padding: 0px 30px;
    font-size: 12px;
    line-height: 3px;
  }

  .legend {
    font-size: 10px;

    li {
      line-height: 1.4;
      margin: 0 0 0 7px;

      &::marker {
        font-size: 14px;
      }
    }

    .legendM::marker {
      color: var(--LM)
    }

    .legendR::marker {
      color: var(--LR)
    }
  }
}

// Display
.display {
  margin: 6px 10px 10px;
  display: flex;
  justify-content: flex-end;

  .displayList, .displayImg, .displayLoad {
    padding: 10px;
    height: fit-content;
    border: none;
    background-color: transparent;
    border-radius: 7px;
    color: var(--Sub);
    outline: none;

    &:hover {
      cursor: pointer;
      color: var(--LM);
    }
  }

  .displayLoad:hover {
    color: var(--NA);
  }
}

// List Mode
.aniList {
  color: var(--Main);
  font-size: 15px;
  text-align-last: start;

  // margin: 25px 0 15px 0;
  margin: 0 0 15px 0;
  padding-inline-start: 26px;
  padding-inline-end: 10px;

  display: flex;
  flex-direction: column;

  .M, .A {
    color: var(--Main);
    flex-grow: 1;
    display: flex;
    justify-content: space-between;

    align-items: center;
    padding: 13px 0 13px 7px;

    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: var(--Border);
    background-color: transparent;

    &:first-child {
      border-width: 1px 0;
    }

    &:last-child {
      border: none;
    }
  }

  .M {
    color: var(--LM);
  }

  .R {
    color: var(--LR);
    font-weight: 600;
    padding: 0 7px;
  }
}


// Image mode
.aniIMG {
  display: flex;
  flex-direction: column;
  margin: 20px;

  .aniImgBanner {
    background-color: var(--CardBG);
    display: flex;
    border-radius: 4px;
    max-height: fit-content;
    margin-bottom: 20px;
    color: var(--Main);

    .cardImgCon {
      .cardImg {
        // width: 100%;
        // height: auto;
        width: 100%;
        height: 100%;
        border-radius: 4px;
      }
    }

    .cardTitleCon {
      width: 100%;
      padding-left: 18px;

      .cardTitle {
        margin: 10px 0px;
        padding-right: 17px;
        font-size: 15px;
      }

      .cardType {
        display: flex;
        font-weight: 700;
        margin: 12px auto;
      }

      .cardSynopsis {
        margin: 9px 0px 5px;
      }

      .cardType, .cardSynopsis {
        padding-right: 17px;
        font-size: 11px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;

        .R {
          color: var(--LR);
          float: right;
        }

        .M {
          color: var(--LM);
        }
      }
    }
  }
}

.footer {
  display: grid;
  place-items: center;
  color: var(--Sub);

  .total {
    font-size: 22px;
    padding-bottom: 50px;
  }

  .gotopbtn {
    color: var(--Sub);
    font-size: 20px;
    padding-bottom: 60px;

    .btn {
      font-size: 20px;
      border-radius: 30px;
      background-color: var(--Sub);
      color: var(--BG);

      &:hover {
        background-color: var(--LM);
      }
    }
  }
}


// Scroll Bar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--Border)
}

::-webkit-scrollbar-thumb {
  background: var(--LM);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--ScrollHover)
}
