@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400&family=Noto+Serif+JP:wght@300&display=swap");
@media (prefers-color-scheme: dark) {
  :root {
    --BG: #101010;
    --Main: #ffffff;
    --Sub: #A9A9B0;
    --LM: #70D7FF;
    --LR: #FF6482;
    --CR: #64D2FF;
    --Border: #222223;
    --Hover: #1a1919;
    --CardBG: #161515;
    --NA: #FF453A;
    --ScrollHover: #43b7e6;
    --ScrollDefault: #504e4e;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --BG: #eff3f7;
    --Main: #363636;
    --Sub: #828283;
    --LM: #198dfa;
    --LR: #FF2D55;
    --CR: #33a9e0;
    --Border: #CECED0;
    --Hover: #f5f5f5;
    --CardBG: #ffffff;
    --NA: #FF3B30;
    --ScrollHover: #52c3f0;
    --ScrollDefault: #9B9B9D;
  }
}

html {
  max-width: 600px;
  margin: auto;
  scroll-behavior: smooth;
}

body {
  background-color: var(--BG);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Montserrat, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.load {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: 100px auto;
}

.load p {
  color: var(--Main);
  font-size: 12px;
}

header {
  z-index: 5;
  color: var(--Main);
  padding: 30px 32px 34px;
}

header .mainHeader {
  font-size: 34px;
  font-weight: 700;
}

.subHeader {
  z-index: 4;
  color: var(--Sub);
  text-transform: uppercase;
}

.subHeader .update {
  padding: 0px 30px;
  font-size: 12px;
  line-height: 3px;
}

.subHeader .legend {
  font-size: 10px;
}

.subHeader .legend li {
  line-height: 1.4;
  margin: 0 0 0 7px;
}

.subHeader .legend li::marker {
  font-size: 14px;
}

.subHeader .legend .legendM::marker {
  color: var(--LM);
}

.subHeader .legend .legendR::marker {
  color: var(--LR);
}

.display {
  margin: 20px 10px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.display .displayList, .display .displayImg, .display .displayLoad {
  padding: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  background-color: transparent;
  border-radius: 7px;
  color: var(--Sub);
  outline: none;
}

.display .displayList:first-child, .display .displayImg:first-child, .display .displayLoad:first-child {
  margin-right: auto;
  margin-left: 7px;
}

.display .displayList:hover, .display .displayImg:hover, .display .displayLoad:hover {
  cursor: pointer;
  color: var(--LM);
}

.display .displayLoad:hover {
  color: var(--NA);
}

.navbar {
  left: 0;
  top: 0;
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--CardBG);
}

.navbar .navbar-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 0;
  height: 100vh;
}

.navbar .navbar-items .item {
  height: 5rem;
  width: auto;
}

.navbar .navbar-items .item:last-child {
  margin-top: auto;
}

.navbar .navbar-items .item .logo {
  font-size: 2rem;
  color: var(--Main);
}

.navbar .navbar-items .item .logo:hover {
  color: var(--LM);
}

@media only screen and (max-width: 768px) {
  .navbar {
    top: auto;
    bottom: 0;
    width: 100vw;
    height: 4rem;
  }
  .navbar .navbar-items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.animeList, .mangaList {
  color: var(--Main);
  font-size: 15px;
  text-align-last: start;
  margin: 50px 0 15px 0;
  -webkit-padding-start: 26px;
          padding-inline-start: 26px;
  -webkit-padding-end: 10px;
          padding-inline-end: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.animeList .ja_title, .mangaList .ja_title {
  font-size: 14px;
  font-family: 'Noto Serif JP', serif;
}

.animeList .M, .animeList .A, .animeList .CR, .mangaList .M, .mangaList .A, .mangaList .CR {
  color: var(--Main);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 0 13px 2px;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: var(--Border);
  background-color: transparent;
}

.animeList .M:first-child, .animeList .A:first-child, .animeList .CR:first-child, .mangaList .M:first-child, .mangaList .A:first-child, .mangaList .CR:first-child {
  border-width: 1px 0;
}

.animeList .M:last-child, .animeList .A:last-child, .animeList .CR:last-child, .mangaList .M:last-child, .mangaList .A:last-child, .mangaList .CR:last-child {
  border: none;
}

.animeList .M, .mangaList .M {
  color: var(--LM);
}

.animeList .R, .mangaList .R {
  color: var(--LR);
  font-weight: 600;
  padding: 0 7px;
}

.animeList .CR, .mangaList .CR {
  color: var(--CR);
}

.aniIMG {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
}

.aniIMG .aniImgBanner {
  background-color: var(--CardBG);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  margin-bottom: 20px;
  color: var(--Main);
}

.aniIMG .aniImgBanner .cardImgCon .cardImg {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.aniIMG .aniImgBanner .cardTitleCon {
  width: 100%;
  padding-left: 18px;
}

.aniIMG .aniImgBanner .cardTitleCon .cardTitle {
  margin: 10px 0px;
  padding-right: 17px;
  font-size: 15px;
}

.aniIMG .aniImgBanner .cardTitleCon .cardType {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  margin: 12px auto;
  text-transform: uppercase;
}

.aniIMG .aniImgBanner .cardTitleCon .cardSynopsis {
  margin: 9px 0px 5px;
  text-align: justify;
}

.aniIMG .aniImgBanner .cardTitleCon .cardType, .aniIMG .aniImgBanner .cardTitleCon .cardSynopsis {
  padding-right: 17px;
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.aniIMG .aniImgBanner .cardTitleCon .cardType .R, .aniIMG .aniImgBanner .cardTitleCon .cardSynopsis .R {
  color: var(--LR);
  float: right;
}

.aniIMG .aniImgBanner .cardTitleCon .cardType .M, .aniIMG .aniImgBanner .cardTitleCon .cardSynopsis .M {
  color: var(--LM);
}

.footer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: var(--Sub);
}

.footer .total {
  font-size: 22px;
  padding-bottom: 50px;
}

.footer .gotopbtn {
  color: var(--Sub);
  font-size: 20px;
  padding-bottom: 130px;
  outline: none;
}

.footer .gotopbtn .btn {
  font-size: 20px;
  border-radius: 30px;
  background-color: var(--Sub);
  color: var(--BG);
}

.footer .gotopbtn .btn:hover {
  background-color: var(--LM);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--Border);
}

::-webkit-scrollbar-thumb {
  background: var(--ScrollDefault);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--ScrollHover);
}
/*# sourceMappingURL=main.css.map */